/* MENU */
body {
  position: relative;
  -webkit-transition: right 0.15s ease, padding 0.2s linear !important;
  transition: right 0.15s ease, padding 0.2s linear !important;
}

body.has-menu-right {
  right: 0;
}

body.has-menu-left {
  left: 0;
}

body.has-menu-right.has-push-menu {
  right: 90%;
  overflow: hidden;
}

body.has-menu-left.has-push-menu {
  left: 90%;
  overflow: hidden;
}

.fl-with-top-menu {
  -webkit-transition: padding 0.2s;
  transition: padding 0.2s;
  padding-top: 44px;
}

html.web .fl-with-top-menu main.fl-page-content-wrapper,
html.android .fl-with-top-menu main.fl-page-content-wrapper {
  /* Remove the height of the menu */
  min-height: calc(100vh - 44px);
}

[data-has-notch].supports-container .fl-with-top-menu {
  padding-bottom: 0;
}

[data-fl-widget-instance][data-type="menu"] {
  position: fixed !important;
  top: 0;
  top: constant(safe-area-inset-top);
  top: env(safe-area-inset-top);
  left: 0;
  right: 0;
  z-index: 10;
}

.fl-viewport-header {
  height: 44px;
  margin: 0 auto;
  line-height: 43px;
  background: rgba(255, 255, 255, 0.85);
  text-shadow: 0 1px 0 #fff;
  border-bottom: 1px solid rgba(127, 127, 127, 0.1);
  font-weight: 300;
  width: 100%;
  text-align: center;
  color: #333;
  font-size: 1em;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.no-android .fl-viewport-header {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

body.has-menu-right.has-push-menu .fl-viewport-header {
  left: -90%;
  right: 90%;
}

body.has-menu-left.has-push-menu .fl-viewport-header {
  right: -90%;
  left: 90%;
}

.fl-with-top-menu.fl-top-menu-hidden .fl-viewport-header {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.fl-viewport-header .nav-title {
  display: block;
  margin: 0 18.5%;
  text-align: center;
  padding: 0 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fl-viewport-header-left .nav-left + .nav-right + .nav-title {
  margin: 0 0 0 88px;
  text-align: left;
}

.fl-viewport-header .nav-left,
.fl-viewport-header .nav-right {
  position: absolute;
  top: 0;
  height: 43px;
}

.fl-viewport-header .nav-left,
.fl-viewport-header .nav-right {
  cursor: pointer;
}

.fl-viewport-header .nav-left {
  left: 0;
  line-height: 44px;
}

.fl-viewport-header .nav-right {
  right: 0;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fl-viewport-header-left .nav-right {
  left: 0;
  width: 44px;
  font-size: 1.5em;
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}

.fl-viewport-header-left .nav-left + .nav-right {
  left: 44px;
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}

.fl-viewport-header .nav-left .fa {
  width: 44px;
  font-size: 2em;
  line-height: 44px;
}

.fl-viewport-header .nav-left .btn-label {
  display: none;
}

.fl-with-top-menu.has-push-menu .fl-menu-panel {
  display: block;
}

.fl-with-top-menu .fl-menu-panel {
  display: none;
}

@media screen and (min-width: 400px) {
  .fl-viewport-header-left .nav-left + .nav-right + .nav-title,
  .fl-viewport-header-left .nav-title {
    margin: 0 18.5%;
    text-align: center;
  }
}
@media screen and (min-width: 640px) {
  .fl-viewport-header-left .nav-left + .nav-right {
    left: 94px;
    -webkit-transition: left 0.25s ease;
    transition: left 0.25s ease;
  }

  .fl-viewport-header .nav-left .btn-label {
    display: inline-block;
    position: relative;
    left: -15px;
    top: -4px;
  }

  .fl-viewport-header-left .nav-left + .nav-right + .nav-title,
  .fl-viewport-header-left .nav-title {
    margin: 0 18.5%;
    text-align: center;
  }
}
/* Menu Overlay */
.fl-menu {
  position: fixed;
  top: 0;
  top: constant(safe-area-inset-top);
  top: env(safe-area-inset-top);
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  pointer-events: none;
}

.fl-menu.active {
  pointer-events: all;
}

.fl-menu-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
  opacity: 0;
  -webkit-transition: opacity 0.1s linear;
  pointer-events: none;
}

.fl-menu.active .fl-menu-overlay {
  pointer-events: all;
  opacity: 1;
}

.fl-menu-panel {
  position: absolute;
  bottom: 0;
  top: 0;
  background: #fff;
  -webkit-transition: -webkit-transform 0.2s ease, opacity 0.2s ease;
  transition: transform 0.2s ease, opacity 0.2s ease;
  opacity: 0;
  pointer-events: none;
  border-radius: 0;
  z-index: 20;
  display: -webkit-box;
  display: -webkit-flex;
  display: box;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.fl-menu-push-in .fl-menu-panel {
  left: 10%;
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  box-shadow: -4px 0 5px rgba(0,0,0,0.2);
}

.fl-menu-push-in-left .fl-menu-panel {
  right: 10%;
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  box-shadow: 4px 0 5px rgba(0,0,0,0.2);
}

.fl-menu.active .fl-menu-panel {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  pointer-events: all;
}

.fl-menu .fl-menu-header {
  order: 3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.fl-menu .fl-menu-header {
  font-size: 1em;
}

.fl-app-menu-toolbar {
  position: absolute;
  bottom: 0;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  left: 0;
  right: 0;
  text-align: right;
  max-height: 100%;
  line-height: 21px;
  background: #ffffff;
  font-size: 9px;
  font-family: Verdana;
}

[data-simulator="iphone-x"] .fl-app-menu-toolbar {
    padding-bottom: 34px;
}

.fl-app-menu-toolbar .copyright {
  padding: 0 15px;
}

.fl-app-menu-toolbar .copyright a {
  color: #333;
  text-decoration: underline;
}

.fl-menu .fl-menu-body {
  order: 2;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.fl-menu.fl-app-menu .fl-menu-foot ~ .fl-menu-body {
  bottom: 21px;
  bottom: calc(constant(safe-area-inset-bottom) + 21px);
  bottom: calc(env(safe-area-inset-bottom) + 21px);
}

.fl-menu.fl-app-menu .fl-menu-header ~ .fl-menu-body {
  top: 44px;
}

.fl-app-menu .fl-list-default {
  color: #333;
  max-height: 100%;
  -webkit-overflow-scrolling: touch;
}

.fl-list-default ul {
  padding: 0 15px;
  margin: 0;
  font-size: 13px;
}

.fl-menu-panel .fl-list-default ul {
  background: none;
  font-size: 13px;
}

.fl-list-default ul > li {
  list-style: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  padding: 10px 10px 10px 10px;
  position: relative;
}

.fl-list-default ul > li.linked {
  cursor: pointer;
  padding-right: 44px;
}

.fl-list-default ul > li .linked-icon {
  display: none;
  position: absolute;
  width: 44px;
  height: 44px;
  top: 50%;
  right: 0;
  margin-top: -22px;
  font-size: 28px;
  line-height: 44px;
  text-align: center;
  color: #333;
}

.fl-list-default ul > li.linked .linked-icon {
  display: block;
}

.fl-list-default ul > li.with-icon,
.fl-list-default ul.with-icons > li {
  padding-left: 54px;
  display: flex;
  align-items: center;
}

.fl-list-default ul > li .fl-menu-icon {
  position: absolute;
  left: 10px;
  top: 0;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
}

.fl-app-menu .fl-list-default ul > li .buttonControl {
  display: block;
}

.fl-close-menu {
  top: 0;
  right: 0;
  font-size: 1.5em;
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  cursor: pointer;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fl-close-menu .fa {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  line-height: 44px;
  cursor: pointer;
}
@media screen and (min-width: 640px) {
  body.has-menu-right.has-push-menu {
    right: 40%;
  }

  body.has-menu-right.has-push-menu .fl-viewport-header {
    left: -40%;
    right: 40%;
  }

  .has-menu-right .fl-menu-panel {
    left: 60%;
  }

  body.has-menu-left.has-push-menu {
    left: 40%;
  }

  body.has-menu-left.has-push-menu .fl-viewport-header {
    right: -40%;
    left: 40%;
  }

  .has-menu-left .fl-menu-panel {
    right: 60%;
  }

  .fl-menu .fl-menu-header {
    font-size: 1.2em;
  }

  .fl-close-menu {
    width: 54px;
    height: 54px;
    line-height: 54px;
  }

  .fl-close-menu .fa {
    width: 54px;
    height: 54px;
    line-height: 54px;
  }

  .fl-menu.fl-app-menu .fl-menu-header ~ .fl-menu-body {
    top: 54px;
  }
}

html.no-history .fl-viewport-header .nav-left {
  display: none;
}

html.no-history.mode-interact .fl-viewport-header .nav-left {
  display: block;
}

.hamburger {
  padding: 0;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  display: flex;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: #333333;
}
